/target
target/checkstyle-cachefile
coverage-report/
wildstore-cli/target/
wildstore-common/target/
wildstore-crawl/target/
wildstore-fileserve/target/
wildstore-meta/target/
wildstore-relationalDb/target/
wildstore-testdata/target/
wildstore-testdata/src/main/resources/testdata/
.idea/
.DS_Store
oauth.yml


enumVarList.txt
DatasetCreation.log
.env
deploy/.env
