wildfirestorage-common/target/
wildfirestorage-core/target/
wildfirestorage-spring/target/
Wildfirestorage-core/.idea/
.idea/
.DS_Store
wildfirestorage-cli/target/
oauth.yml
enumVarList.txt
DatasetCreation.log